.page-public-card .public-card__container {
  .public-card__header {
    .header-information .information-title {
      font-size: 16px;
      color: #000;
      text-transform: uppercase;
      font-weight: 700;
    }
  }
}
